<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Hello, {{ username }}!</h1>
        <div>
            <ul>
                <li><a href="/images">View Images</a></li>
                <li><a href="/upload">Upload an Image</a></li>
                <li><a href="/follow">Follow someone</a></li>
                <li><a href="/unfollow">Unfollow someone</a></li>
                <li><a href="/friend">Build friend group</a></li>
                <li><a href="/friend_groups">View your friend groups</a></li>
                <li><a href="/view_follow_status">View and manage your follow requests</a></li>
                <li><a href="/images_highest_ratings">View Images ranged by highest average ratings</a></li>

                
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </body>
</html>
